@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Black.woff') format('woff2'), url('../public/fonts/Recoleta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Medium.woff2') format('woff2'), url('../public/fonts/Recoleta-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-SemiBold.woff2') format('woff2'), url('../public/fonts/Recoleta-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Regular.woff2') format('woff2'), url('../public/fonts/Recoleta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Black.woff2') format('woff2'), url('../public/fonts/Recoleta-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Light.woff2') format('woff2'), url('../public/fonts/Recoleta-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../public/fonts/Recoleta-Thin.woff2') format('woff2'), url('../public/fonts/Recoleta-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Bold.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Light.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Medium.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Regular.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Black.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-SemiBold.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recoleta Alt';
    src: url('../public/fonts/RecoletaAlt-Thin.woff2') format('woff2'), url('../public/fonts/RecoletaAlt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-Compressed.woff2') format('woff2'), url('../public/fonts/Helvetica-Compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-BoldOblique.woff2') format('woff2'), url('../public/fonts/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-Bold.woff2') format('woff2'), url('../public/fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/HelveticaRounded-Bold.woff2') format('woff2'), url('../public/fonts/HelveticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-Light.woff2') format('woff2'), url('../public/fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('/omex../public/fonts/Helvetica.woff2') format('woff2'), url('../public/fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../public/fonts/Helvetica-Oblique.woff2') format('woff2'), url('../public/fonts/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}