img {
    max-width: 100%;
    height: auto;
}

.header-top {
    padding: 9px 0;
}

.main-menu .navbar-nav li+li {
    margin-left: calc(var(--v2) * 20);
}

.main-menu .navbar-nav li a {
    padding: 0 !important;
    color: var(--black);
    font-size: calc(var(--v2) * 8);
}

.main-menu .navbar-nav li a.active {
    color: var(--primary-color);
    font-weight: 600;
}

.main-menu .navbar-nav li a:hover {
    color: var(--primary-color);
}

footer {
    background: #145183;
    color: var(--bs-white);
}

footer ul li a {
    color: var(--se-color);
}

footer .menu li+li {
    margin-top: 12px;
}

.address p {
    color: var(--se-color);
    margin-right: 90px;
}

.footer-bottom p {
    letter-spacing: 0.04em;
    padding-right: 50px;
    color: var(--se-color);
    line-height: 1.5;
}

.footer-signup {
    background: #083D68;
}

.footer-signup .form-control {
    background: transparent !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    max-width: 275px;
    padding-left: 0;
    height: 45px;
    color: white !important;
    border-color: #FAF7F2 !important;
}

.footer-signup .form-floating>label {
    padding-left: 0;
    color: #FAF7F2;
}

.footer-signup .form-control:focus {
    outline: 0;
    box-shadow: unset;
}

.footer-signup .form-floating>.form-control:focus~label {
    transform: scale(.85) translateY(-1rem) translateX(.15rem);
}

.footer-signup .sb-btn {
    background: transparent;
    border: 2px solid #FAF7F2;
    color: #FCFFF7;
    padding: 19px 97px;
}

.footer-signup .sb-btn:hover {
    background: white;
    color: #0e3d68;
}

.footer-signup .sb-btn:focus {
    outline: 0;
    box-shadow: unset;
}

.accordion-collapse {
    border: none !important;
}

.v-line {
    width: 3.15px;
    height: 142px;
    background: #03518B;
}

.tab-area ul li {
    width: calc(100% / 4);
    text-align: center;
    margin: 0;
    padding: 0;
}

.tab-area ul {
    border: 2px solid #03518B;
    margin: 0;
}

.tab-area ul li a.active {
    border: none !important;
    background: #03518B !important;
    color: white !important;
}

.tab-area ul li a {
    margin-bottom: -2px !important;
    border-radius: 0 !important;
    color: #03518B;
    font-size: 20px;
    font-weight: 400;
    padding: 17px 0;
    border: none !important;
}

.tab-area ul li+li {
    border-left: 3px solid #15518b;
}

.tab-area ul {
    margin: 15px 114px;
}

.tab-area .tab-content {
    margin-top: 45px;
}

.tab-area .tab-content .owl-nav {
    display: flex !important;
    justify-content: center;
}

.tab-area .slider .owl-nav [class*='owl-']:hover {
    background: transparent;
}

.tab-area .slider .owl-nav [class*='owl-']:hover {
    border: none;
    outline: 0;
}

.tab-area .slider .owl-nav [class*='owl-'] {
    margin-top: 0 !important;
    margin-bottom: 0;
}

.tab-area .owl-nav button+button {
    margin-left: 490px;
}

.tab-area .owl-nav {
    margin-top: 50px !important;
}

.tab-area .slider .owl-nav [class*='owl-']:focus {
    outline: 0;
}

.looking-out .carousel-control-next,
.looking-out .carousel-control-prev {
    position: relative;
    width: unset !important;
    opacity: 9;
}

.explore-more figure {
    overflow: hidden;
}

.explore-more {
    cursor: pointer;
}


/* .explore-more .col-md-4:hover figure img {
    transform: scale(1.2);
} */

.explore-more figure img {
    transition: transform 2s ease;
}

.explore-more figure:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 2px solid white;
    left: 15px;
    top: 15px;
}

.looking-out div#carouselExampleControls .position-absolute {
    right: 0;
    bottom: -82px;
}

.exploer-btn {
    background: #03518B;
    width: 100%;
    display: block;
    font-size: calc(var(--v2) * 12);
    color: var(--bs-white);
    padding: 27px calc(var(--v2) * 24);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 42px;
}

.exploer-btn:hover {
    color: white;
}

.exploer-btn:hover img {
    transform: translateX(20px);
}

.exploer-btn img {
    transition: transform 2s ease;
}

.explore-more .carousel-indicators li {
    width: 117px;
    height: 117px;
    background: no-repeat;
    transition: width 0.4s;
    margin-right: 0;
    margin-top: 0;
    border: 0;
    text-indent: unset;
    position: relative;
}

.explore-more .carousel-indicators li+li {
    margin-left: 20px;
}

.explore-more .carousel-indicators li.active {
    width: 140px;
    height: 140px;
}

.explore-more .carousel-indicators {
    padding: 40px 0;
    margin-bottom: 0;
    background: #FCF7F7;
    align-items: center;
}

.explore-more .carousel-indicators li label {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: white;
    color: black !important;
    margin: 0;
    z-index: 99;
    font-size: 12px;
    text-align: center;
}

.explore-more .carousel-indicators li.active label {
    font-size: 20px;
    top: 54px;
}

.explore-more .card {
    position: absolute;
    right: 86px;
    z-index: 9;
    top: 0;
    width: 400px;
    border: 0;
    border-radius: 0;
    background: #5B1545;
    opacity: 0.9;
    padding: 50px;
}

.explore-more .card p {
    font-size: 22px;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.explore-more .card p+img {
    transform: rotate(-33.31deg);
}

.top-brands .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* street page css  */

.street-banner .card {
    position: absolute;
    right: 86px;
    z-index: 9;
    top: 0;
    width: 400px;
    border: 0;
    border-radius: 0;
    opacity: 0.9;
    padding: 50px;
}

.street-banner .card p {
    font-size: 22px;
    line-height: 44px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.street-banner .card p+img {
    transform: rotate(-33.31deg);
}

.parish-page .gray-bg {
    background: #E5E5E5;
}

.parish-page .pr-color {
    color: #083D68;
}

.parish-page .v-line {
    background: #194F9B;
}

.parish-page .exploer-btn {
    background: #5B1545;
}

.athens-page .exploer-btn {
    background: #5A946E;
}

.athens-page .primary-btn {
    border-color: #5A946E;
    color: #5A946E;
}

.athens-page .primary-btn:hover {
    background: #5A946E;
    color: white;
}


/* End street page cess */